.avatar-container {
    /* display: flex; */
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  } 
  
  
  .total-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .total {
    font-size: 24px;
    font-weight: bold;
  }
  
  .reset-button {
    background-color: #dc3545;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .reset-button:hover {
    background-color: #c82333;
  }
  
  .avatar-container div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
  }
  
  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .counter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
  .count {
    font-size: 20px;
    font-weight: bold;
    margin: 0 10px;
  }